@font-face {
    font-family: Norse-Bold;
    src: url('./Norse-Bold.otf') format('opentype');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: Norse-Bold;
    background-color: #111;
}

img {
    display: block;
    max-height: 100vh;
}